@model WebApplication1.Models.News
@{
    ViewData["Title"] = "News";
}

<div class="news-detail">
    <h1>@Model.Title</h1>
    <img src="~/images/@Model.Tumb" />
    <p>@Model.Description</p>
</div>

